Portability
VM                     | Container               | Cloud
Virtual Box or VM Ware | Docker or Kubernetes    | AWS or Google or Abur
GIT is called as
CI/CD (Continuous Integration / Continuous Deployment)

GITHUB is an platform for open source code
Repository is called as package location
GITHUB is a Version Control System
It is a Publishing Tool
A Collaboration Platform
A Way to Share and Collaborate with others
Abitlity to save our process and go back to earlier points in our projects.
